
body{
  background-color:#D98657 ;

}

.Nav-list {
  list-style: none;
  display: flex;
}

.Link-nav {
  text-decoration: none;
  color:rgb(255, 254, 254);
  transition: 0.4s;
}
.Link-nav:hover{

  opacity: 0.6;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 24px;
  color: white;
  width:100vw;
  height: 8vh;

  
} 
